<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
<!--        <property name="connection.url">jdbc:mariadb://192.168.0.103:3306/db</property>-->
<!--        <property name="connection.user">javier</property>-->
<!--        <property name="connection.password">ernestomoreno</property>-->
        <property name="connection.url">jdbc:mariadb://localhost/db</property>
        <property name="connection.user">root</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">5</property>
        <property name="hibernate.show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.babas.models.Branch"/>
        <mapping class="com.babas.models.Category" />
        <mapping class="com.babas.models.Client" />
        <mapping class="com.babas.models.Color" />
        <mapping class="com.babas.models.DetailSale"/>
        <mapping class="com.babas.models.DetailTransfer"/>
        <mapping class="com.babas.models.Presentation"/>
        <mapping class="com.babas.models.Price"/>
        <mapping class="com.babas.models.Product"/>
        <mapping class="com.babas.models.Sale"/>
        <mapping class="com.babas.models.Sex"/>
        <mapping class="com.babas.models.Stock"/>
        <mapping class="com.babas.models.Style"/>
        <mapping class="com.babas.models.Transfer"/>
        <mapping class="com.babas.models.User"/>
        <mapping class="com.babas.models.Size"/>
        <mapping class="com.babas.models.Brand"/>
        <mapping class="com.babas.models.Dimention"/>
        <mapping class="com.babas.models.Stade"/>
        <mapping class="com.babas.models.Company"/>
        <mapping class="com.babas.models.Box"/>
        <mapping class="com.babas.models.BoxSession"/>
        <mapping class="com.babas.models.Rental"/>
        <mapping class="com.babas.models.Reserve"/>
        <mapping class="com.babas.models.DetailReserve"/>
        <mapping class="com.babas.models.Movement"/>
        <mapping class="com.babas.models.DetailRental"/>
        <mapping class="com.babas.models.Problem"/>
        <mapping class="com.babas.models.Permission"/>
    </session-factory>
</hibernate-configuration>